/* About page */

.navbar-default {
  min-height: 55px;
  text-align: left;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #3a4660;
}
.navbar-brand>img {
  padding: 0px 15px;
}

.nav.navbar-nav li a {
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}

.dropdown-menu {
  background-color: #3a4660;
}

h2.center {
  font-style: verdana;
  font-size: 30px;
  color: black;
}
body {

  padding-top: 100px;
  font-family: helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
}



.about_picture {
  width: 325px;
  height:325px;
  }

.center {
  text-align: center;
  font-style:italic;
  font-size: 60pt;
  font-family: "Mistral";
  margin: 0px
}

.intro_text {
  margin: 0px
}

.column {
  width: 33%;
  float: left;
  text-align: center;
}

.column h1 {
  text-align: center;
}

.left_column {

}

.middle_column {

}

.right_column {

}
