/* About page */

.navbar-default {
  min-height: 55px;
  text-align: left;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #3a4660;
}
.navbar-brand>img {
  padding: 0px 15px;
}
@media screen and (max-width: 992px) {
.text-center {
      padding-top: 200px;
  }
}
.nav.navbar-nav li a {
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}

.dropdown-menu {
  background-color: #3a4660;
}

h2.center {
  font-style: helvetica;
  font-size: 36px;
  color: black;
  padding: 0;
  margin: -15px;
}

body {
  padding-top: 100px;
  font-family: helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
  background: url('../pictures/about_pictures/powder1.jpg') no-repeat center center fixed;
  /*background-color: #fefefe;*/
  background-size: cover;
  color:black;
}

.column img {
  border: 3px solid #3a4660;
}

.about_picture {
  width: 325px;
  height:325px;
  }

.center {
  text-align: center;
  font-size: 60pt;
  font-family: "helvetica";
  margin: 0px
}

.intro_text {
  margin: 0 70px 0 70px;
}

.column {
  width: 33%;
  float: left;
  text-align: center;
}

.column h1 {
  text-align: center;
}

.column p {
  margin: 20px 60px 20px 60px;
  text-align: justify;
}

.left_column {

}

.middle_column {

}

.right_column {

}
